.sidebar
{
  position: fixed;
  background-color: white;
  top:55px;
  left:0;
  width: 72px;
  bottom: 0px;
  z-index: 200;
  padding-top: 5px;
}
.sidebar-elements-d
{
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto,Arial;
  font-size:10px ;
}
.sidebar-elements-d:hover
{
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}
.sidebar-elements-d img{
  height: 24px;
  margin-bottom: 5px;
}